main {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chess-board {
    display: flex;
    flex-wrap: wrap;
    width: 80vmin;
    height: 80vmin;
}

.chess-board > div {
    width: 10vmin;
    height: 10vmin;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.chess-board > div:nth-child(odd) {
    background-color: floralwhite;
}

.chess-board > div:nth-child(even) {
    background-color: saddlebrown;
}

.chess-board > div.horse {
    background-color: darkseagreen;
}

.chess-board > div.horse:hover {
    cursor: pointer;
    background-color: darkolivegreen;
    box-shadow: 10vmin -20vmin 0 0 darkslategray,
    -10vmin -20vmin 0 0 darkslategray,
    -20vmin -10vmin 0 0 darkslategray,
    -20vmin 10vmin 0 0 darkslategray,
    -10vmin 20vmin 0 0 darkslategray,
    10vmin 20vmin 0 0 darkslategray,
    20vmin 10vmin 0 0 darkslategray,
    20vmin -10vmin 0 0 darkslategray;
    z-index: 2;
}
